.expensesFilter {
    color: #FA5B3D;
    padding: 0 1rem;
  }
  
  .expensesFilter_control {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
  }
  
  .expensesFilter label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .expensesFilter select {
    color: #FA5B3D;
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-color: #FA5B3D;
    border-radius: 6px;
  }