.expenses {
  padding: 1rem;
  background-color: #f3f2f7;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
}

.noExpenses_msg {
  background-color: #f3cbc3;
  color: #FA5B3D;
  text-align: center;
}
